.page {
  --black: #1e1e1e;
  --white: #fff;
  --blue-dark: #091e3b;
  --blue-primary: #41729f;
  --blue-secondary: #5885af;
  --blue: #274472;
  --orange-dark: #e9831f;
  --gray-dark: #6e7079;
  --gray-dark-2: #333;
  --gray-light: #f7f7f7;
  --gray-light-2: #d9d9d9;
  --gray-primary: #7c94a1;
  --gray-secondary: #7c8ca4;
}

/*-----------------------------------------------------HEADER------------------------------------------------------*/
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  z-index: 1000;

  /*------------------BLUE-----------------*/
  .headerBlue {
    background-color: var(--blue-dark);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem 0 3rem;

    .logo {
      height: 118px;
      margin-top: 5px;
    }

    .headerContact {
      display: flex;

      .container {
        display: flex;
        margin-left: 4rem;
        font-size: 14px;
        .icon {
          font-size: 2rem;
        }
      }
      .container div {
        color: var(--white);
        border-left: 1px solid var(--white);
        padding-left: 15px;
        margin-left: 15px;
      }
      .container div > p:first-child {
        font-weight: bold;
      }
    }
    .menuMobile {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .headerBlue {
      .headerContact {
        .container {
          font-size: 12px;
          margin-left: 3rem;
          .icon {
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  @media (max-width: 690px) {
    .headerBlue {
      padding: 0 2rem 0 1rem;

      .logo {
        height: 105px;
      }
    }
  }

  @media (max-width: 595px) {
    .headerBlue {
      .headerContact {
        .container {
          margin-left: 2rem;
          .icon {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  @media (max-width: 550px) {
    .headerBlue {
      height: fit-content;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      .headerContact {
        display: none;
      }

      /*----MENU MOBILE----*/
      .menuMobile {
        display: block;
        position: relative;

        .menu {
          background-color: var(--orange-dark);
          padding: 1rem;
          list-style: none;
          font-weight: bold;
          font-size: 1rem;
          text-transform: uppercase;
          position: absolute;
          right: 0;
          border-radius: 5px;
        }
        .menu li {
          padding: 0.8rem 0;
        }
      }
    }
  }

  /*-------------------ORANGE---------------*/
  .headerOrange {
    background-color: var(--orange-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 4rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .menu {
      color: var(--white);
      display: flex;
      list-style: none;
      font-weight: bold;
      font-size: 1rem;
      text-transform: uppercase;
    }
    .menu li:not(:first-child) {
      margin-left: 40px;
    }
    .menu li {
      border-bottom: 2px solid var(--orange-dark);
      cursor: pointer;
    }
    .menu li:hover {
      border-bottom: 2px solid var(--blue-dark);
      color: var(--blue-dark);
    }

    .socialICons {
      display: flex;
      align-items: center;
      list-style: none;

      .icon {
        color: var(--white);
        cursor: pointer;
      }
      .icon:hover {
        color: var(--blue-dark);
      }
    }

    .socialICons li {
      margin-left: 20px;
    }
  }

  @media (max-width: 768px) {
    .headerOrange {
      .menu {
        font-size: 14px;
      }
    }
  }
  @media (max-width: 670px) {
    .headerOrange {
      padding: 0 2rem;
      .menu li:not(:first-child) {
        margin-left: 20px;
      }
    }
  }
  @media (max-width: 550px) {
    .headerOrange {
      display: none;
    }
  }
}

/*-----------------------------------------------------BANNER------------------------------------------------------*/

/*-----------------------------------------------------BUTTONS-----------------------------------------------------*/
.buttonStyledBlue,
.buttonStyledOrange {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  width: fit-content;
  display: flex;
  align-items: center;
}

.buttonStyledBlue {
  background: var(--blue-dark);
  border: 1px solid var(--white);
  color: var(--white);
}

.buttonStyledBlue:hover {
  background-color: white;
  color: var(--blue-dark);
  border: 1px solid var(--blue-dark);
}

.buttonStyledOrange {
  background: var(--orange-dark);
  border: 1px solid var(--gray-light-2);
  color: var(--white);
}

.buttonStyledOrange:hover {
  background-color: var(--blue-dark);
  border: 1px solid var(--blue-dark);
}

@media only screen and (max-width: 1024px) {
  .buttonStyledBlue,
  .buttonStyledOrange {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
  }
}

@media (max-width: 768px) {
  .buttonStyledBlue,
  .buttonStyledOrange {
    padding: 10px 15px;
  }
}

@media (max-width: 670px) {
  .buttonStyledBlue,
  .buttonStyledOrange {
    font-size: 14px;
  }
}

/*-----------------------------------------------------OUR SERVICES------------------------------------------------*/

/*----------------------------------------------------ABOUT US------------------------------------------------*/

/*----------------------------------------------------VALUES------------------------------------------------*/

/*----------------------------------------------------GALLERY------------------------------------------------*/

/*----------------------------------------------------TESTIMONIALS------------------------------------------------*/

/*----------------------------------------------PARTNERS-------------------------------------------*/

/*--------------------------------------------REQUEST A QUOTE------------------------------------------*/

/*--------------------------------------------CONTACT US----------------------------------------------*/

/*------------------------------------------CAREERS-----------------------------------------*/

/*-------------------------------------------FOOTER-----------------------------------------*/
